SDK/mcusdk/platform/tahiti/m33/app/tensaiflow/output/
SDK/fcp/build/
SDK/fcp/temp/
SDK/mcusdk/platform/tahiti/m33/build/
!SDK/mcusdk/platform/tahiti/m33/build/libos_ns.a
!SDK/mcusdk/platform/tahiti/m33/build/libsys_ns.a
!SDK/mcusdk/platform/tahiti/m33/build/libusr_ns.a
!SDK/mcusdk/platform/tahiti/m33/build/libusrkpd_ns.a
!SDK/mcusdk/platform/tahiti/m33/build/tahiti_gcc_arm_ns.ld

*.bin
*.map
*.elf
*.size
*.dep
*.o

!SDK/mcusdk/platform/tahiti/m33/app/**/tensaiflow-model/*.bin
